.bg-dark::placeholder {
  color: #757575;
  opacity: 1;
}

.link-hover {
  &:hover {
    color: #facc44 !important;
  }
}

.secondary-color {
  color: #616161 !important;
}

.divider-line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0.25rem 0;
}

.search-bg {
  background: #424242;
  &:hover {
    background: #424242;
  }
}
.custom-btn {
  clip-path: polygon(10% 0%, 85% 0%, 110% 60%, 90% 100%, 15% 100%, -10% 40%);
}

.custom-input {
  border-color: #bdbdbd;
  background: #424242;
  &::placeholder {
    color: #757575;
  }
}

.banner-img {
  width: 100%;
  object-fit: cover;
}

.fs-sm {
  font-size: 28px;
}

.card-hover {
  transition: box-shadow 0.2s ease;
  &:hover {
    box-shadow: 0 0 0 4px $danger;

    .card-body {
      background: $white !important;
    }
    .card-text-hover {
      color: $dark;
    }
    .price-hover {
      color: $danger;
    }
  }
}

.cart-hover {
  height: 40px;
  width: 40px;
  &:hover {
    background-color: $danger;
    .material-icons {
      color: $white !important;
    }
  }
}
.heart-hover {
  height: 40px;
  width: 40px;
  background: $secondary;
  color: $light;
  border: none;
  box-shadow: none;
  &:hover {
    background-color: $danger;
    .material-icons {
      color: $white !important;
    }
  }
}

@media (min-width: 768px) {
  .fs-md-4 {
    font-size: 4rem;
  }
}
