.link-hover {
  &:hover {
    color: #facc44 !important;
  }
}

.secondary-color {
  color: #616161 !important;
}

.divider-line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0.25rem 0;
}

.search-bg {
  background: $dark-gray;
  &:hover {
    background: $dark-gray;
  }
}
.custom-btn {
  clip-path: polygon(10% 0%, 85% 0%, 110% 60%, 90% 100%, 15% 100%, -10% 40%);
  max-width: 90vw;
  min-width: 138px;
}

.custom-input {
  border-color: #bdbdbd;
  background: $dark-gray;
  &::placeholder {
    color: $light-gray;
  }
}

.banner-img {
  height: 100%;
  width: 100%;
  object-fit: cover; /* 保持比例填滿不變形 */
  object-position: center;
}

.banner-content {
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.card-hover {
  transition: box-shadow 0.2s ease;
  &:hover {
    box-shadow: 0 0 0 4px $danger;

    .card-body {
      background: $white !important;
    }
    .card-text-hover {
      color: $dark;
    }
    .price-hover {
      color: $danger;
    }
  }
}

.cart-hover {
  height: 40px;
  width: 40px;
  &:hover {
    background-color: $danger;
    .material-icons {
      color: $white !important;
    }
  }
}
.heart-hover {
  height: 40px;
  width: 40px;
  background: $secondary;
  color: $light;
  border: none;
  box-shadow: none;
  &:hover {
    background-color: $danger;
    .material-icons {
      color: $white !important;
    }
  }
}

// 分頁樣式
.banner-swiper .swiper-pagination {
  position: absolute;
  bottom: 20px;
  /* 調整距離 */
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.banner-swiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background: #eeeeee;
  opacity: 0.7;
  margin: 0 4px;
  transition: all 0.3s;
}

.banner-swiper .swiper-pagination-bullet-active {
  width: 16px;
  height: 8px;
  border-radius: 2px;
  /* 變成圓角長條 */
  background: #ea3f3f;
  opacity: 1;
}

.thumbs-wrapper {
  gap: 12px;
}

.mySwiper {
  width: 100%;
  max-width: 320px;
}

.mySwiper .swiper-slide {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mySwiper img {
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}
.custom-nav {
  color: $white;
  font-size: 24px;
  width: 40px;
  height: 100%;
  border: 2px solid $light-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
}

@media (min-width: 768px) {
  .fs-md-4 {
    font-size: 4rem !important;
  }
}

@media (max-width: 1200px) and (min-width: 769px) {
  .swiper-slide {
    height: 360px;
  }
}
@media (max-width: 768px) {
  .swiper-slide {
    height: 196px;
  }
}
