body {
  font-family: 'Noto Sans TC', sans-serif;
}

.link-hover {
  &:hover {
    color: #facc44 !important;
  }
}

.custom-btn {
  clip-path: polygon(10% 0%, 85% 0%, 110% 60%, 90% 100%, 15% 100%, -10% 40%);
  max-width: 90vw;
  min-width: 138px;
}
//nav
.divider-line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0.25rem 0;
}

.search-bg {
  background: $dark-gray;
  &:hover {
    background: $dark-gray;
  }
}

.custom-input {
  border-color: #bdbdbd;
  background: $dark-gray;
  &::placeholder {
    color: $light-gray;
  }
}

//banner
.banner-img {
  min-height: 196px;
  max-height: 600px;
  width: 100%;
  object-fit: cover; /* 保持比例填滿不變形 */
  object-position: center;
}

.banner-content {
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

//電競鍵盤
.rounded-12 {
  border-radius: 12px;
}

.card-hover {
  transition: box-shadow 0.2s ease;
  &:hover {
    box-shadow: 0 0 0 4px $danger;

    .card-body {
      background: $white !important;
    }
    .card-text-hover {
      color: $dark;
    }
    .price-hover {
      color: $danger;
    }
  }
}

.cart-hover {
  height: 40px;
  width: 40px;
  &:hover {
    background-color: $danger;
    .material-icons {
      color: $white !important;
    }
  }
}

.heart-hover {
  height: 40px;
  width: 40px;
  background: $secondary;
  color: $light;
  border: none;
  box-shadow: none;
  &:hover {
    background-color: $danger;
    .material-icons {
      color: $white !important;
    }
  }
}

// 分頁樣式
.banner-swiper .swiper-pagination {
  position: absolute;
  bottom: 20px;
  /* 調整距離 */
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background: #eeeeee;
  opacity: 0.7;
  margin: 0 4px;
  transition: all 0.3s;
}

.swiper-pagination-bullet-active {
  width: 16px;
  height: 8px;
  border-radius: 2px;
  /* 變成圓角長條 */
  background: #ea3f3f;
  opacity: 1;
}

.thumbs-wrapper {
  display: flex;
  align-items: stretch; // 讓子元素自動拉滿父層高度
  gap: 12px; // 加左右間距
}

.mySwiper {
  width: 100%;
  height: 88px;
}

.mySwiper .swiper-slide {
  height: 88px;
  &:hover {
    border: 3px solid $danger;
  }
}

.mySwiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.custom-nav {
  color: $white;
  font-size: 24px;
  width: 40px;
  height: 100%;
  border: 2px solid $light-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  min-height: 88px;
}

.thumb-button-prev,
.thumb-button-next {
  user-select: none; /* 禁止選取文字 */
}
.text-justify {
  text-align: justify;
}

.left-arrow {
  top: -250px;
}
.right-arrow {
  top: -250px;
  right: 0;
}
.text-gradien {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.3) 30%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.3) 70%,
    rgba(255, 255, 255, 0)
  );
}

//player

.rounded-top-half-circle {
  border-radius: 158px;
}
.player-bg {
  background: url(/img/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.player-card {
  width: 100%;
  max-width: 306px;
  margin: 0 auto;
  padding-bottom: 2rem;
  border-top-left-radius: 153px;
  border-top-right-radius: 153px;
}

.player-card .card-top {
  width: 306px;
  height: 306px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto; // 置中對齊 card
}

.player-swiper .swiper-slide {
  width: 306px;
}

.player-swiper .card {
  height: 694px !important;
}

.player-paginatio {
  position: static !important;
  margin-top: 24px;
  text-align: center;
}

// swiper-articles
.swiper-articles .swiper-slide {
  height: auto !important;
}
.articles-paginatio {
  position: static !important;
  margin-top: 40px;
  text-align: center;
}

.icon-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  &:hover {
    background-color: $warning;
    color: #000 !important;
  }
  i {
    font-size: 20px;
    line-height: 1;
    vertical-align: middle;
    color: inherit;
  }
}

//尺寸
@media (min-width: 768px) {
  .fs-md-4 {
    font-size: 4rem !important;
  }
}

@media (min-width: 1200px) {
  .drop-menu:hover .drop-menu-list {
    display: block !important; // 覆蓋 d-none
  }
}

@media (min-width: 1930px) {
  .left-arrow {
    display: block !important;
  }
  .right-arrow {
    display: block !important;
  }
}

@media (max-width: 768px) {
  .mySwiper {
    height: 56px;
  }

  .mySwiper .swiper-slide {
    height: 56px;
  }

  .custom-nav {
    min-height: 56px;
  }
}
